<h1>Cheerio, Lover of Trash, let's scrape!</h1>

<h2>Get the News that's fit to Sink</h2>

<div>
  {{#each articles}}
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.summary}}</p>
        <a href={{this.link}} class="card-link">Link</a>
      </div>
    </div>
  {{/each}}
</div>

<br>
<br>
<h2>Add a Comment</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ta">Title</label>
    <input type="text" id="ta" name="task">
  </div>
  <div class="form-group">
    <label for="ta">Comment</label>
    <input type="text" id="ta" name="task">
  </div>
  
  <button class="button" type="submit">
    <div class="pattern">
      <div class="target inner bg2"></div>
      </div>
      <div class="text">Submit</div>
    </button>
</form>
