body {
  background-image: url(/assets/image/fishnets-and-hearts.png);
}

h1, h2 {
  text-align: center;
  background: rgb(248, 250, 248);
  color: rgb(97, 2, 23);
  margin: 10px 100px;
}

li {
    text-align: center;
    padding: 5px;
    margin: 10px 100px 10px 60px;
    background: rgb(241, 237, 193);
    font-size: 15px;
    list-style-type: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 10px 5px;
    margin: 10px 100px;
    background: rgb(245, 245, 243);
    font-size: 15px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .complete-task {
    background: rgb(105, 235, 105);
    font-size: 12px;
  }

  .delete-task {
    background: rgb(245, 171, 129);
    font-size: 12px;
  }

  .button {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    border-radius: 50px;
    border: 2px solid black;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    width: 125px;
  }
  .button--white {
    color: white;
  }
  .pattern {
    background: rgb(240, 66, 66);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .inner {
    height: 100px;
    width: 400px;
  }
  .text {
    position: relative;
    opacity: .7;
  }

  .target {
    transform: translate(var(--x), var(--y));
  }
  
  .button:active .target {
    opacity: 0.7;
    transition: opacity 100ms;
  }